<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.CoachDao">


    <update id="update" parameterType="com.software.fitness.domain.Coach">
        update coach
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="gender != null">gender=#{gender},</if>
            <if test="date_of_birth != null">date_of_birth=#{date_of_birth},</if>
            <if test="phone_number != null">phone_number=#{phone_number},</if>
            <if test="address != null">address=#{address},</if>
            <if test="state != null">state=#{state},</if>
            <if test="introduction != null">introduction=#{introduction},</if>
        </set>
        where id = #{id};
    </update>

    <select id="listCoach" resultType="com.software.fitness.domain.Coach">
        select * from coach;
    </select>

    <insert id="insert" parameterType="com.software.fitness.domain.Coach">
        insert into coach(`name`) values (#{name});
    </insert>

    <select id="getCoachById" parameterType="java.lang.Integer" resultType="com.software.fitness.domain.Coach">
        select * from coach where id = #{id}
    </select>

</mapper>