<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.MemberDao">
    <select id="listMember" resultType="com.software.fitness.domain.Member">
        select * from member;
    </select>

    <update id="update" parameterType="com.software.fitness.domain.Member">
        update member
        set state = #{state}
        WHERE id = #{id};
    </update>

    <update id="updateall" parameterType="com.software.fitness.domain.Member">
        update member
        <set>
            <if test="password != null">password = #{password},</if>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="date_of_birth != null">date_of_birth = #{date_of_birth},</if>
            <if test="phone_number != null">phone_number = #{phone_number},</if>
        </set>
        WHERE id = #{id};
    </update>

    <insert id="insert" parameterType="com.software.fitness.domain.Member">
        insert into member(`name`) values (#{name});
    </insert>

    <select id="getMemberById" parameterType="java.lang.Integer" resultType="com.software.fitness.domain.Member">
        select * from member where id = #{id}
    </select>
</mapper>