<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.fitness.dao.RecordDao">

    <insert id="insert" parameterType="com.software.fitness.domain.Record" useGeneratedKeys="true" keyProperty="id">
        insert into record (staff_id, member_id, time, operation)
        VALUES (#{staff_id}, #{member_id}, now(), #{operation});
    </insert>

    <insert id="staffInsert" parameterType="com.software.fitness.domain.Record" useGeneratedKeys="true"
            keyProperty="id">
        insert into record (staff_id, time, operation)
        VALUES (#{staff_id}, now(), #{operation});
    </insert>

    <insert id="memberInsert" parameterType="com.software.fitness.domain.Record" useGeneratedKeys="true"
            keyProperty="id">
        insert into record (member_id, time, operation)
        VALUES (#{member_id}, now(), #{operation});
    </insert>

    <delete id="delete" parameterType="com.software.fitness.domain.Record">
        delete
        from record
        where id = #{id};
    </delete>

    <select id="getAllRecord" resultType="com.software.fitness.domain.Record">
        select *
        from record;
    </select>

</mapper>